body{height:100vh}
#ConvertH2D{
  background-image:url('https://static.thenounproject.com/png/55901-200.png');
background-size:cover;
margin:18px;
width: 60px; 
height: 60px;
border:none;
}
#ConvertD2H{
  background-image:url('https://static.thenounproject.com/png/55903-200.png');
background-size:cover;
margin:18px;
width: 60px; 
height: 60px;
border: none;
}
#CopyHex{margin:5%;width:40%;}
#CopyDec{margin:5%;width:40%;}