button,input,p{margin:5%;text-align:center;}
    body{
      height: 100vh;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
    }
   #buttons{display:flex;}
   #bod{
     padding:25%;
     border: 1px solid black;
     margin:auto;
     display:flex;
     flex-direction: column;
   } 